{% extends "base.html" %} {% block title %}Admin Page{% endblock %}

{% block content %}
    <h1>Admin Page</h1>

    <h2>Add a new movie:</h2>
    <form method="POST" action="{{ url_for('views.admin') }}">
      <input type="hidden" name="action" value="add">
        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>
        </div>
        <div>
            <label for="description">Description:</label>
            <textarea id="description" name="description" required></textarea>
        </div>
        <div>
            <label for="image_url">Image URL:</label>
            <input type="text" id="image_url" name="image_url" required>
        </div>
        <div>
            <input type="submit" value="Add Movie">
        </div>
    </form>

    <h2>Edit existing movies:</h2>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Image URL</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for movie in movies %}
          <tr>
            <form method="POST" action="{{ url_for('views.admin') }}">
              <input type="hidden" name="action" value="edit">
              <input type="hidden" name="id" value="{{ movie.id }}">
              <td><input type="text" id="title" name="title" required value="{{ movie.title }}"></td>
              <td><textarea id="description" name="description" required>{{ movie.description }}</textarea></td>
              <td><input type="text" id="image_url" name="image_url" required value="{{ movie.img }}"></td>
              <td>
                <input type="submit" value="Save Changes">
                <button type="submit" name="action" value="delete" onclick="return confirm('Are you sure you want to delete this movie?')">Delete</button>
                <input type="hidden" name="id" value="{{ movie.id }}">
              </td>
            </form>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}