{% extends "base.html" %}

{% block title %}Lottery Tickets{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="static/style.css">
<h1 align="left">Lottery Ticket System</h1>
<br/>
<div>
    <h3 style="float: left; width: 50%;">CURRENT LOTTERY TICKETS</h3>
    <!-- You might want to add a search form for lottery tickets here if needed -->
</div>
<br/>
<hr/>
<div class="lottery">
    {% for lottery in lotteries %}
    <section class="lottery">
        <img src="{{ lottery.img }}" width="260px" height="320px" alt="{{ lottery.name }} Ticket Image">
        <div class="ticket-info">
            <h2>{{ lottery.name }}</h2>
            <p>Next Draw: {{ lottery.drawing_date }}</p>
            <p>Jackpot: ${{ lottery.winning_amount}}</p>
            <form method="GET" action="{{ url_for('views.lottery', lottery_id=lottery.id) }}">
                <input type="hidden" name="lottery_id" id="{{ lottery.id }}" value="{{ lottery.id }}">
                <button type="submit">Details</button>
            </form>
        </div>
    </section>
    {% endfor %}

</div>
<br/>
{% endblock %}