{% extends "base.html" %} {% block title %}Home Page{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="static/style.css">
<h1 align="left">Raider Theaters</h1>
<br/>

    <div>
        <h3 style="float: left; width: 50%;">CURRENTLY PLAYING</h3>
        <div class="search-container">
          <form action="/search">
            <input type="text" placeholder="Search...">
            <button type="submit" >Search</button>
          </form>
        </div>
    </div>
    <br/>
    <hr/>
    <div class="movies-container">
        <div class="section-header">
        </div>
        <section class="movie-now">
          <img src="https://via.placeholder.com/260x260" alt="Movie Poster">
          <div class="movie-info">
            <h2>Movie Title 1</h2>
            <a href="/movie"><button>Get Tickets</button></a>
          </div>
        </section>
        
        <section class="movie-now">
          <img src="https://via.placeholder.com/260x260" alt="Movie Poster">
          <div class="movie-info">
            <h2>Movie Title 2</h2>
            <a href="#"><button>Get Tickets</button></a>
          </div>
        </section>
        
        <section class="movie-now">
          <img src="https://via.placeholder.com/260x260" alt="Movie Poster">
          <div class="movie-info">
            <h2>Movie Title 3</h2>
            <a href="#"><button>Get Tickets</button></a>
          </div>
        </section>
      <div>
        <h3 style="float: left; width: 50%;">UPCOMING</h3>
    </div>
    <br/>
    <hr/>
    </div>
    <div class="movies-container">
      <div class="section-header">
      </div>
      <section class="movie-now">
        <img src="https://via.placeholder.com/260x260" alt="Movie Poster">
        <div class="movie-info">
          <h2>Movie Title 1</h2>
          <a href="/movie"><button>Get Tickets</button></a>
        </div>
      </section>
      
      <section class="movie-now">
        <img src="https://via.placeholder.com/260x260" alt="Movie Poster">
        <div class="movie-info">
          <h2>Movie Title 2</h2>
          <a href="#"><button>Get Tickets</button></a>
        </div>
      </section>
      
      <section class="movie-now">
        <img src="https://via.placeholder.com/260x260" alt="Movie Poster">
        <div class="movie-info">
          <h2>Movie Title 3</h2>
          <a href="#"><button>Get Tickets</button></a>
        </div>
      </section>
  </div>  

    <br/>
{% endblock %}
