{% extends "base.html" %} {% block title %}Home Page{% endblock %}

{% block content %}
<h1 align="center">Movies</h1>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">
        {{ note.data }}
        <button type="button" class="close" onClick="deleteNote({{ note.id }})"> <!--This is the delete function for comments. We can try and use this only for admins-->
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
</ul>
<form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br/>
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Comment</button>
    </div>
{% endblock %}
