{% extends "base.html" %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
<style>
      body {
      font-family: Arial;
      color: rgb(0, 0, 0);
      position: fixed;
      padding: 0px;
      margin: 0px;
    }
    
    .split {
      height: 100%;
      width: 50%;
      position: fixed;
      z-index: -1;
      top: 0;
      overflow-x: hidden;
      padding-top: 20px;
    }
    
    .left {
      left: 0;
      background-color: #343A40;
    }
    
    .right {
      right: 0;
      background-color: #343A40;
    }
    
    .centered {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: left;
    }

.review {
  position: fixed;
  bottom: 20%;
  top: 60%;
  left: 5%;
  color: black;
  z-index: 2;
}

</style>
    <div class="split left">
      <div class="centered">
        <h1>{{ movie.title }}</h1>
        <img src="{{ movie.img }}" height="380" width="290" alt="{{ movie.title }} Poster">
      </div>
    </div>

    <div class="split right">
      <div class="centered">
        <h2>Synopsis</h2>
        <p>{{ movie.description }}</p>
        <form action="/checkout">
            <input type="hidden" name="movie_id" value="{{ movie.id }}">
            {% if movie.id < 4 %}
            <button type="submit">Get Tickets</button>
            {% else %}
            <button type="submit">Preorder Tickets</button>
            {% endif %}
        </form>
      </div>
    </div>

    <div class="review">
      <h2>Reviews</h2>
      <hr/>
      <ul class="list-group list-group-flush" id="notes">
          {% for note in user.notes %}
          <li class="list-group-item">
              {{ note.data }}
              <button type="button" class="close" onClick="deleteNote({{ note.id }})"> <!--This is the delete function for comments. We can try and use this only for admins-->
                  <span aria-hidden="true">&times;</span>
              </button>
          </li>
          {% endfor %}
      </ul>
      <form method="POST">
          <textarea name="note" id="note" class="form-control" style="background-color: #343A40; color: black;"></textarea>
          <br/>
          <div align="center">
              <button type="submit" class="btn btn-primary">Add Review</button>
          </div>
      </form>
  
  </div>
{% endblock %}
