body {
    font-family: Arial, sans-serif;
    color:black;
    background-color: #ffffff;
}

section {
    background-color: #BCD4E6;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    margin: 10px;
    padding: 10px;
    flex-basis: 45%; /* or any value less than 50% */
}

button {
    background-color: #004F98;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
}

.lottery {
	
  }
  
.lottery img {
    width: 75%;
    height: auto;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}
  
.lottery-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    padding: 20px;
    background-color: #fff;
}
  